.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling starts here */

body {
  /* background: rgb(211, 255, 233); */
  
}

.wrapper {
  max-width: 1200px;
  width: 90%;

}

.shownResults {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.titleStyle {
  color: red;
}

form {
  padding: 5% 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-flow: row nowrap;
  width: 25rem;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.calorieCount {
  display: flex;
  flex-flow: column wrap;
  /* background: rgb(142, 172, 157); */
  /* color: white; */
}

.mealTime {
  /* background: rgb(143, 172, 157); */
}

input {
  margin: 0 3%;
  padding: 1%;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}

label {
  margin: 0 2%;
}